#content {
    font-size: large;
    padding: 15px;

    border: 1px solid black;
    border-radius: 15px;
}

h1 {
    margin-bottom: 20px;
}

div#input_page button{
    margin-top: 15px;
}

div#input_page_task2 button{
    margin-top: 15px;
}

#input_intervals td {
    padding: 0;
}

#input_intervals_task2 td {
    padding: 0;
}

#input_intervals table input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    box-shadow: none;
    border: none;
    padding: 8px;
}

#input_intervals_task2 table input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    box-shadow: none;
    border: none;
    padding: 8px;
}

button, input {
    font-size: large;
    margin-right: 20px;
    border-radius: 10px;
    outline: none;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    text-align: center;
}

label {
    font-size: x-large;
    margin-right: 10px;
}

p {
    font-size: x-large;
}

div#samples_div input[type="text"] {
    width: 90%;
}

table {
    margin-top: 20px;
}

th, td, tr {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 2px;
}

body {
    font-size: x-large;
}

canvas {
    margin-top: 30px;
    max-width: 950px;
    max-height: 600px;
}

.barchart {
    margin-top: 30px;
    margin-bottom: 30px;
}

div#task1_solution p {
    font-size: x-large;
}

div#task1_solution div {
    font-size: x-large;
    margin-top: -10px;
}

#level_n, #level_n_task2 {
    width: 65px;
}

/* 




div#task1_solution p {
    font-size: xx-large;
    font-weight: bold;
}

div#task2_solution p {
    font-size: xx-large;
    font-weight: bold;
}

div#task3_solution p {
    font-size: xx-large;
    font-weight: bold;
}

div#task4_solution p {
    font-size: xx-large;
    font-weight: bold;
}

div#task5_solution p {
    font-size: xx-large;
    font-weight: bold;
}



div#task2_solution div {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 30px;
}

div#task2_solution table {
    font-size: x-large;
}

div#task2_solution td {
    padding: 15px;
    border: none;
}

div#task3_solution div {
    font-size: x-large;
    margin-bottom: 40px;
}

div#task4_solution div {
    font-size: x-large;
    margin-bottom: 40px;
}

div#task5_solution div {
    font-size: x-large;
    margin-bottom: 40px;
}

div#task3_solution span {
    font-size: x-large;
    margin-bottom: 5px;
    font-weight: bold;
}

div#task4_solution span {
    font-size: x-large;
    margin-bottom: 5px;
    font-weight: bold;
}

div#task5_solution span {
    font-size: x-large;
    margin-bottom: 5px;
    font-weight: bold;
} */
